.listings {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat( auto-fill, minmax(500px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.listing-media-container:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  border-radius: 15px;
}

.listing-media-grid {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 15px;
  overflow: hidden;
  grid-template-areas:
    "photo photo photo photo photo photo"
    "photo photo photo photo photo photo"
    "photo photo photo photo photo photo";
}

.listing-info {
  display: block;
  text-align:left; 
  margin:15px; 
  font-size: 1.1em;
}

@keyframes slideInFromRight {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: hidden;
  }
}

@keyframes slideOutToRight {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.roommates {
  z-index: 2;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  list-style: none;
  background: #1a1a1a;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}

.roommates-images {
  z-index: 3;
  width: 100%;
  border-radius: 15px;
  grid-area: photo;
  animation:  0.2s ease 0s 1 slideInFromRight;
}

.roommates-images-exit {
  z-index: 3;
  width: 100%;
  border-radius: 15px;
  grid-area: photo;
  animation:  0.2s ease 0s 1 slideOutToRight;
  visibility: hidden;
}

.roommates-images:hover {
  box-shadow: 3px 3px 3px;
}

.listings-media-img {
  border-radius: 15px;
  grid-area: photo;
  z-index: 1;
}

.listings-media-img > img {
  background-position: center;
  object-fit: cover;
  border-radius: 15px;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.back-button-container {
  position: relative;
  z-index: 2;
}

.back-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: none;
  background: none;
  color: white;
  background-color: #e91341;
  height: 60px;
  width: 90px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: xx-large;
}

.back-button:hover {
  background-color: #971c36;
}

.roommate-avatar {
  text-align: center;
  margin: 20px;
}

.roommate-name {
  font-family: "Museo500", "Museo700";
  margin-Top: 10px;
  display: block;
  color: white;
}

.roommate-name:hover {
  color: #e73434;
}

.roommates-preview-container {
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 15px;
  grid-row-start:    3;
  grid-row-end:      4;
  grid-column-start: 1;
  grid-column-end:   7;
  z-index: 1;
}